body { 
	font-family: "Arial Verdana", Sans-serif;
    text-align: center;
    background-image: url("WebsiteBlogImages/pokemonblogbackground.jpg");
    background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


link {
	border: 1px solid black;
	border-radius: 50px;
	background-color: white;
}
#links{
	position: center;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	width: 20%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Arial Verdana", Sans-serif;
	background-color: white; transparent;
	opacity: 0.8;
}
#info{
	position: center;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	width: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Arial Verdana", Sans-serif;
	background-color: white; transparent;
	opacity: 0.8;
}
#blog1{
	position: center;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	width: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Arial Verdana", Sans-serif;
	background-color: white; transparent;
	opacity: 0.8;
}
#projects{
	position: center;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	width: 20%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Arial Verdana", Sans-serif;
	background-color: white; transparent;
	opacity: 0.8;
}
#blog2{
	position: center;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	width: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Arial Verdana", Sans-serif;
	background-color: white; transparent;
	opacity: 0.8;